body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: #434455;
    width: 1440px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    height: 72px;
    padding: 24px 156px;
    display: flex;
    border-bottom: 1px solid #e7e9fc;
}

.navigation {
    display: flex;
}

.logo {
    font-family: "Raleway";
    color: #4d5ae5;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.6667;
    display: inherit;
}

.logo-header {
    color: #2e2f42;
}

.logo-footer {
    color: #f4f4fd;
}

.navigation-menu {
    display: flex;
    height: 24px;
    margin: 0px 332px 0px 36px;
    gap: 40px;
}

.navigation-item {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42
}

.navigation-item:hover,
.contacts-item:hover,
.navigation-item:active {
    color: #404bbf;
}

.contacts {
    display: flex;
    height: 24px;
    gap: 40px;
    margin: 0px;
    padding: 0px;
}

.contacts-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    background-color: #2e2f42;
}

.banner-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    padding-top: 188px;
    width: 496px;
    margin-top: 0px;
}

.banner-button {
    border-radius: 4px;
    padding: 16px 32px;
    background: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border-style: none;
    cursor: pointer;
}

.banner-button:hover {
    line-height: normal;
}

.banner-button:focus {
    background: #404bbf;
}

.adventages {
    padding: 120px 156px;
}

.adventages-list {
    display: flex;
    gap: 24px;
    padding: 0px;
    margin: 0px;
}

.adventages-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 264px;
}

.adventages-item > h3 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: inherit;
    color: #2e2f42;
}

.adventages-item > p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: inherit;
}

.staff {
    height: 732px;
    padding: 120px 156px;
    background: #f4f4fd;
}

.staff-title {
    margin: 0px;
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.staff-list {
    display: flex;
    gap: 24px;
    margin: 0px;
    padding: 0px;
}

.staff-item {
    background-color: #ffffff;
    text-align: center;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.staff-item-content {
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.staff-item h3 {
    margin: 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.staff-item p {
    margin: 0px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio {
    padding: 120px 156px;
}